html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

body {
    font-family: "Arial",
    sans-serif;
    color: white;
    font-size: 19px;
    max-width: 100%;
}

h6 {
    font-size: 1.5em;
    margin: 0em;
}

/* SEKTION 1 - with videoloop and text */

#jvVideo {
    position: sticky;
    right: 0;
    bottom: 0;
    top: 0;
    max-width: 100%;
}

#sek1text {
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    bottom: 410px;
    background: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    bottom: -17%;
    padding: 1.5em;
}

#sek1text h2 {
    font-size: .7em;
    margin-top: -1.2em;
}

#sek1text h3 {
    font-family: "Arial",
    sans-serif;
    font-weight: 500;
    font-size: .6em;
    color: grey;
}

/* SEKTION 2 - With hero image and 4x text with headers */

#heropic {
    background-image: url(img/johnmob.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
    border-top-color: #000;
    border: .3em;
    max-width: 100%;
    height: 100%;
    font-size: 1.1em;
    padding: 1em;
    padding-bottom: 32em;
    position: sticky;
    top: 0;
}

#heropic h1 {
    font-family: 'Vedana', sans-serif;
    margin-top: .3em;
    padding-left: 2%;
    padding-bottom: .4em;
    font-size: 5em;
    color: #464648;
    font-weight: 100;
}

#heropic p {
    padding: 2%;
    line-height: 1.1;
}

.contentleft {
    position: relative;
    color: #f1f1f1;
    padding: 2em;
    max-width: 100%;
    top: -723px;
}

.contentleft p {
    font-size: 1em;
    background: rgba(0, 0, 0, .2);
    padding: .8em;
}

.contentleft h2 {
    margin-top: 3.4em;
    font-size: 1.6em;
}

/* SEKTION 3 - PASSION, OMHYGGELIGHED OSV. */

.slide {
    position: relative;
    padding: 10%;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}

img {
    display: none;
}

img:last-of-type {
    display: none;
}

.slide:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
}

.title {
    position: relative;
    width: 80%;
    padding: 5%;
    background: rgba(240, 230, 220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
    font-size: 1.4em;
}

.slide:nth-child(2n) .title {
    margin-left: 0;
    margin-right: auto;
}

.slide:nth-child(2n+1) .title {
    margin-left: auto;
    margin-right: 0;
}

.slide,
.slide:before {
    background: 50% 50% / cover;
}

.header {
    text-align: center;
    font-size: 175%;
    color: #fff;
    text-shadow: 0 2px 2px #000;
}

#title {
    background-image: url(img/opera.jpg);
    z-index: 2;
}

#title h1 {
    transform: translateZ(.25px) scale(.75);
    transform-origin: 50% 100%;
}

#slide0 {
    background-image: url("img/2.jpg");
    z-index: 2;
}

#slide0 {
    background-image: url("img/2.jpg");
    z-index: 2;
}

#slide1 img {
    display: none;
}

#slide1 img:last-of-type {
    display: none;
}

#slide1:before {
    background-image: url("img/1.jpg");
    transform: translateZ(-1px) scale(2);
}

#slide2 {
    background-image: url("img/3.jpg");
    z-index: 2;
}

#slide3:before {
    background-image: url("img/drbigband.png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateZ(-1px) scale(2);
}

#slide4 {
    background: #222;
}

footer {
    background-color: #000;
    position: absolute;
    width: 100%;
    text-align: center;
}

footer a {
    color: #fff;
}


h1 {
    font-size: 2.5em;
}

p {
    font-family: "Arial",
    sans-serif;
    font-size: .7em;
}

.title h6 {
    color: #000;
}

.title p {
    color: #333;
}


@media screen and (min-width: 740px) {

    body {
        font-family: "Work Sans",
        "Arial",
        sans-serif;
        color: white;
        font-size: 45px;
        margin: 0;
        padding: 0;
        perspective: 1px;
        transform-style: preserve-3d;
        max-height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    h1 {
        font-size: 2.2em;
        font-weight: 600;
    }

    h6 {
        font-size: .9em;
        margin: 0em;
    }

    p {
        font-size: .4em;
    }

    .fb-share-button {
        padding: .4em;
        text-align: right;
    }

    /* SEKTION 1 - with videoloop and text */
    #jvVideo {
        position: sticky;
        right: 0;
        bottom: 0;
        top: 0;
        max-width: 100%;
    }

    #sek1text {
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        color: #fff;
        max-width: 60%;
        padding: 1.5em;
        min-width: 100%;
    }

    #sek1text h2 {
        font-size: .915em;
        margin-top: -1.2em;
    }

    #sek1text h3 {
        font-family: "Arial",
        sans-serif;
        font-weight: 400;
        font-size: .5em;
        margin-top: -.9em;
        color: grey;
    }

    /* SEKTION 2 - With hero image and 4x text with headers */
    #heropic {
        background-image: url(img/john-blue4.png);
        background-size: cover;
        background-repeat: no-repeat;
        color: black;
        min-width: 100%;
        height: auto;
        font-size: 1.1em;
        padding: 1em;
        padding-bottom: 17em;
        position: sticky;
        top: 0;
    }

    #heropic h1 {
        font-family: 'Vedana', sans-serif;
        margin-top: .3em;
        padding-left: 2%;
        padding-bottom: .4em;
        font-size: 4.6em;
        color: #464648;
        font-weight: 100;
    }

    #heropic p {
        padding-left: 2%;
        line-height: 1.1;
    }

    .contentleft {
        position: relative;
        color: #f1f1f1;
        padding: 1.5em;
        width: 55%;
        top: -1123px;
    }

    .contentleft p {
        font-size: .65em;
    }

    .contentleft h2 {
        margin-bottom: -.1em;
    }

    /* SEKTION 3 - PASSION, OMHYGGELIGHED OSV. */
    .slide {
        position: relative;
        padding: 25vh 10%;
        min-height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
        transform-style: inherit;
    }

    img {
        display: block;
        position: absolute;
        top: 42%;
        left: 36%;
        width: 320px;
        height: 240px;
        transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
        padding: 10px;
        background: rgba(240, 230, 220, .7);
        box-shadow: 0 0 8px rgba(0, 0, 0, .7);
    }

    img:last-of-type {
        display: block;
        transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
    }

    .slide:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
    }

    .title {
        width: 50%;
        padding: 5%;
        background: rgba(240, 230, 220, .7);
        box-shadow: 0 0 8px rgba(0, 0, 0, .7);
    }

    .slide:nth-child(2n) .title {
        margin-left: 0;
        margin-right: auto;
    }

    .slide:nth-child(2n + 1) .title {
        margin-left: auto;
        margin-right: 0;
    }

    .slide,
    .slide:before {
        background: 50% 50% / cover;
    }

    .header {
        text-align: center;
        font-size: 175%;
        color: #fff;
        text-shadow: 0 2px 2px #000;
    }

    #title {
        background-image: url(img/opera.webp);
        position: relative;
        z-index: 2;
    }

    #title h1 {
        transform: translateZ(.25px) scale(.75);
        transform-origin: 50% 100%;
    }

    #slide0 {
        background-image: url("img/2.jpg");
        z-index: 2;
    }

    #slide1 img {
        display: block;
        position: absolute;
        top: 46%;
        left: 20%;
        width: 320px;
        height: 240px;
        transform: translateZ(.25px) scale(.75) translateX(140%) translateY(-100%) rotate(2deg);
        padding: 10px;
        background: rgba(240, 230, 220, .7);
        box-shadow: 0 0 8px rgba(0, 0, 0, .7);
    }

    #slide1 img:last-of-type {
        display: block;
        transform: translateZ(.4px) scale(.5) translateX(183%) translateY(-50%) rotate(-5deg);
    }

    #slide1:before {
        background-image: url("img/1.jpg");
        transform: translateZ(-1px) scale(2);
    }

    #slide2 {
        background-image: url("img/3.jpg");
        z-index: 2;
    }

    #slide3 img {
        display: block;
        position: absolute;
        top: 46%;
        left: 20%;
        width: 320px;
        height: 240px;
        transform: translateZ(.25px) scale(.75) translateX(140%) translateY(-100%) rotate(2deg);
        padding: 10px;
        background: rgba(240, 230, 220, .7);
        box-shadow: 0 0 8px rgba(0, 0, 0, .7);
    }

    #slide3 img:last-of-type {
        display: block;
        transform: translateZ(.4px) scale(.5) translateX(183%) translateY(-50%) rotate(-5deg);
    }

    #slide3:before {
        background-image: url("img/drt.png");
        min-height: 100%;
    }

    #slide4 {
        background: #222;
    }
}

footer {
    position: relative;
    background-color: #000;
    width: 100%;
    text-align: center;
    font-size: 1.7em;
    padding: 2em;
}

footer p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    color: #fff;
}

footer a {
    color: #fff;
}

@media screen and (min-width: 1140px) {

    #heropic {
        background-image: url(img/john-blue5.jpg);
    }

    #slide1 img {
        display: block;
        position: absolute;
        top: 46%;
        left: 32%;
        width: 320px;
        height: 240px;
        transform: translateZ(.25px) scale(.75) translateX(140%) translateY(-100%) rotate(2deg);
        padding: 10px;
        background: rgba(240, 230, 220, .7);
        box-shadow: 0 0 8px rgba(0, 0, 0, .7);
    }

    #slide3 img {
        display: block;
        position: absolute;
        top: 46%;
        left: 32%;
        width: 320px;
        height: 240px;
        transform: translateZ(.25px) scale(.75) translateX(140%) translateY(-100%) rotate(2deg);
        padding: 10px;
        background: rgba(240, 230, 220, .7);
        box-shadow: 0 0 8px rgba(0, 0, 0, .7);
    }

    #slide3 img:last-of-type {
        display: block;
        transform: translateZ(.4px) scale(.7) translateX(125%) translateY(-42%) rotate(0deg);
    }

}
